<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/chess_clock</property>
    <property name="hibernate.connection.username">przemo</property>
    <property name="hibernate.connection.password">derek</property>
    <mapping class="domain.GameStatus" file="" jar="" package="" resource="domain/GameStatus.hbm.xml"/>
    <mapping class="domain.Game" file="" jar="" package="" resource="domain/Game.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
